<div class="scrollable page navigation-route">
    <div class="scrollable-content">
        <div class="scrollable-header">
            <header class="header common_header">
                <a href="javascript:history.back();" class="return_btn">
                    <div class="back">
                        <div class="back_arrow"></div>
                        <div>返回</div>
                    </div>
                </a>

                <div class="title">
                    <i ng-click="changeNavigationType('bus')" class="fa fa-bus"
                       ng-class="{'fa-active': navigationType === 'bus',none:origin==='undefined'}"></i>
                    <i ng-click="changeNavigationType('driving')" class="fa fa-car"
                       ng-class="{'fa-active': navigationType === 'driving',none:origin==='undefined'}"></i>
                    <i ng-click="changeNavigationType('walking')" class="fa fa-male"
                       ng-class="{'fa-active': navigationType === 'walking',none:origin==='undefined'}"></i>
                </div>
            </header>
        </div>
        <div class="map-container">
            <div id="navigationRoute"></div>
        </div>
    </div>
    <div class="links">
        <a href="http://www.dididache.com" ng-class="{none:origin==='undefined'}">滴滴打车</a>
        <a href="http://www.dididache.com" ng-class="{none:origin==='undefined'}">滴滴专车</a>
        <!--<a ng-click="searchPath()">规划路径</a>-->
    </div>
</div>