.business_detail {
  .detail_info{
    margin:10px 10px;
    font-size: 20px;
  }
  .detail_desc{
    margin: 10px 0px;
    padding: 10px;
    background-color: #fff;
    font-size: 16px;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
  }

}
